%h1 みてるなう

%p 今見ているWebページのリンクを簡単にTwitterに投稿するブックマークレットです。

%p 使い方は以下の通りです。

%ol
  %li 下のリンクをブックマークバーにドラッグアンドドロップして保存します。
  %li Webページ上で、保存したリンクをクリックします。
  %li コメントを入力して投稿ボタンをクリックすると、リンクがTwitterに投稿されます。

%p
  %a(href=BOOKMARKLET) [みてるなう]

%pre.code= BOOKMARKLET

%p
  みてるなうのソースは
  %a(href="https://github.com/odiak/miteru2") Github
  にて公開しています。
